# Gradle files
.gradle/
build/
bin/

# IntelliJ IDEA files
.intellijPlatform/
.idea/
*.iml
*.ipr
*.iws

# Eclipse filles
.settings/
.classpath
.project

# VisualStudio Code files
.vs/

# Build artifacts
*.jar
*.zip

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db


